@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$primary: #242424;
$secondary: #F2F2F2;
$highlight-d: #242424;
$highlight-l: #f2f2f2e3;
$gradient: linear-gradient(90deg, #D00776 0%, #4D10CF 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: $primary;
  background: #F2F2F2;
}

.rm-lnk a, 
.rm-lnk a:link, 
.rm-lnk a:visited, 
.rm-lnk a:hover, 
.rm-lnk a:active{
  color: $primary;
  text-decoration: none;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15vw 20px 15vw;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

#nav-links li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 30px;
  font-size: 14px;
  letter-spacing: 0.12em;
}

#nav-links a{
  padding: 15px 20px 15px 20px;
  transition: 0.2s ease;

}

#nav-links a:hover{
  background-color: $primary;
  color: $secondary;
  border-radius: 3px;
}

#nav-links .current-page a{
  background-color: $primary;
  color: $secondary;
  border-radius: 3px;
  }

section {
  margin: 50px 15vw 0px 15vw;
}

section h2 {
  margin: 10px 0vw 30px 0vw;
}

.card-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 270px;
  // border: $primary 4px solid;
  border-radius: 3px;
  overflow: hidden;
}

.card-border {
  width: 208px;
  height: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: $primary;
  transition: 1s ease;
  margin: 10px 10px 20px 10px
}


.card-image-container {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  height: 200px;
  overflow: hidden;
  transform: translateY(200px);
  transition: 0.2s ease;
  pointer-events: none;
  background: white;
  opacity: 0%;
}

.card-title {
  height: 70px;
  width: 100%;
  background-color: $primary;
  color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.card a {
  text-decoration: none;
}

.card:hover .card-description {
  transform: translateY(0px);
}

.card-border:hover {
  background: linear-gradient(90deg, #D00776 0%, #4D10CF 100%);
}

.card-border:hover .card-description {
  opacity: 90%;
}
