@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #242424;
  background: #F2F2F2;
}

.rm-lnk a,
.rm-lnk a:link,
.rm-lnk a:visited,
.rm-lnk a:hover,
.rm-lnk a:active {
  color: #242424;
  text-decoration: none;
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 15vw 20px 15vw;
}

#nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

#nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 30px;
  font-size: 14px;
  letter-spacing: 0.12em;
}

#nav-links a {
  padding: 15px 20px 15px 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#nav-links a:hover {
  background-color: #242424;
  color: #F2F2F2;
  border-radius: 3px;
}

#nav-links .current-page a {
  background-color: #242424;
  color: #F2F2F2;
  border-radius: 3px;
}

section {
  margin: 50px 15vw 0px 15vw;
}

section h2 {
  margin: 10px 0vw 30px 0vw;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 270px;
  border-radius: 3px;
  overflow: hidden;
}

.card-border {
  width: 208px;
  height: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  background: #242424;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: 10px 10px 20px 10px;
}

.card-image-container {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  height: 200px;
  overflow: hidden;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  pointer-events: none;
  background: white;
  opacity: 0%;
}

.card-title {
  height: 70px;
  width: 100%;
  background-color: #242424;
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.card a {
  text-decoration: none;
}

.card:hover .card-description {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card-border:hover {
  background: -webkit-gradient(linear, left top, right top, from(#D00776), to(#4D10CF));
  background: linear-gradient(90deg, #D00776 0%, #4D10CF 100%);
}

.card-border:hover .card-description {
  opacity: 90%;
}
/*# sourceMappingURL=style.css.map */